body{
  margin: 0;
  padding: 0;
  color: #333;
}
.header{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(192, 246, 218);
  justify-content: space-between;
  padding: 10px 30px;
}
.container{
  display: flex;
  flex-wrap: wrap;

}
.menu-div{
  max-width: 200px;
  padding-right: 30px;
}
.menu-ul li{
  list-style-type: none;
  line-height: 3;
}
.menu-ul li a{
  text-decoration: none;
  color: #333;
}
.main-div{
  padding-left: 30px;
}
#sub-title{
  font-size: 20px;
  font-weight: bold;
}
.content-scroll{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.blog-image{
  width: 150px;
}