<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARILOG</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="header">
    <div>ARILOG</div>
    <a href="/blog-post"><div>投稿</div></a>
  </div>

  <div class="container">

    <div class="menu-div">
      <ul class="menu-ul">
        <li><a href="/blog">ホーム</a></li>
        <li><a href="/blog-follow">フォロー中の投稿</a></li>
        <li><a href="/blog-post">投稿する</a></li>
      </ul>
    </div>
    
    <div class="main-div">
      <p class="sub-title" th:text="${}"></p>
    </div>

  </div>
</body>
</html>