<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARILOG</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- header サイト名・検索バー・投稿画面遷移ボタン -->
  <div class="header">
    <div class="flex-item" id="title">ARILOG</div>
    <div class="flex-item">検索バーいれたい</div>
    <div class="flex-item"><a href="/blog-post">投稿</a></div>
  </div>

  <div class="container">

    <div class="menu-div">
      <ul class="menu-ul">
        <li><a href="/blogs">ホーム</a></li>
        <!-- <li><a href="/blog-follow">フォロー中の投稿</a></li> -->
        <li><a href="/blog-post">投稿する</a></li>
      </ul>
    </div>
    
    <div class="post-div">
      <div class="view-user-name" th:text="${blog.user_name}"></div>
      <p class="view-title" th:text="${blog.title}"></p>
      <p class="view-post" th:text="${blog.post}"></p>
    </div>

  </div>
</body>
</html>